<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form action="department" method="post">
    <li class="dropdown">
        <a href="#" class="dropbtn">Department</a>
        <div class="dropdown-content">
            <a href="https://en.wikipedia.org/wiki/Computer_science">Computer Science</a>
            <a href="https://en.wikipedia.org/wiki/Commerce">Commerce</a>
            <a href="https://en.wikipedia.org/wiki/History">History</a>
            <a href="https://en.wikipedia.org/wiki/Malayalam">Malayalam</a>
            <a href="https://en.wikipedia.org/wiki/English">English</a>
        </div>
    </li>

</form>
</body>
</html>